<li class="form_item__component list-group-item form-control">
    <!-- onMouseOver={()=> updateDisplayMenu(true)} -->
    <!-- onMouseLeave = {()=> updateDisplayMenu(false)} -->

      <div
        class="text-truncate">
        <!-- onClick={() => dispatch(itemComplition(props))} -->

        <div class="form_item__checkout d-inline-block">
          <fa-icon [icon]="faCheckSquare" size="xl"></fa-icon>
          <fa-icon [icon]="faSquare" size="xl" ></fa-icon>
          <!-- <Chekout completed={props.item.completed}/> -->
        </div>
        <span class="form_item__text">
          <!-- {props.item.value} -->
          {{todo.name}}
        </span>
        <span (click)="onDelete(todo.id)">
          <fa-icon [icon]="faTrash" size="xl" ></fa-icon>
        </span>

        <!-- {displayMenu ? <PropertyBar props={props} /> : null} -->
      </div>
    </li>

