<li
  class="form_item__component list-group-item form-control"
  (mouseover)="onMouseOver()"
  (mouseleave)="onMouseLeave()"
>
  <div
    class="text-truncate">
    <div class="form_item__checkout d-inline-block" (click)="onToggle(todo.id)">
      <span *ngIf="todo.completed"><fa-icon [icon]="faCheckSquare" size="xl"></fa-icon></span>
      <span *ngIf="!todo.completed"><fa-icon [icon]="faSquare" size="xl" ></fa-icon></span>
      <!-- Chekout completed -->
    </div>
    <span class="form_item__text">
      {{todo.name}}
    </span>
    <div *ngIf="displayMenu" class="property-bar">
      <!-- <span (click)="onEdit()">
        <fa-icon [icon]="faEdit" size="xl" ></fa-icon>
      </span> -->
      <span (click)="onDelete(todo.id)">
        <fa-icon [icon]="faTrash" size="xl" ></fa-icon>
      </span>
    </div>
  </div>
</li>

