.list-group-item {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  color: #212529;
  display: block;
  padding: 0.5rem 1rem;
  position: relative;
  text-decoration: none;
}

.form_item__component {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.form_item__component-completed {
  opacity: 0.4;
}

.form_item__component:hover {
  background: var(--background-color);
  opacity: 1;
}

.form_item__checkout {
  margin-right: 0.5em;
  height: 100%;
  opacity: 0.5;
}

.form_item__text {
  vertical-align: super;
}

.text-truncate{
  display: flex;
}
