<div class="container ">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-blockquote-left">
              Wellcome!
            </i>
          </h5>
          <p class="card-text">
            <i class="bi bi-blockquote-left">
              To get started, add some items to your list:
            </i>
          </p>
          <div class="d-inline-block">
            <form class="input-group mb-3" action="#" (ngSubmit)="onCreate()">
              <input
                type="text"
                class="form-control"
                placeholder="I wan`t to do..."
                name="name"
                [(ngModel)]="name"
                >
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="button-addon2"
                (click)="onCreate()"
                >
                <fa-icon [icon]="faPlus" size="xl"></fa-icon></button>
            </form>
          </div>
        </div>
      </div>
      <app-todo-item-list
        [todoList]="todoList$ | async"
        >
      </app-todo-item-list>
    </div>
  </div>
</div>

