<div class="container ">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-blockquote-left">
              Wellcome!
            </i>
          </h5>
          <p class="card-text">
            <i class="bi bi-blockquote-left">
              To get started, add some items to your list:
            </i>
          </p>
          <div class="d-inline-block">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="I wan`t to do..."
                aria-label="Recipient's username"
                aria-describedby="button-addon2">
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="button-addon2"
                >Add task</button>
            </div>
          </div>
        </div>
      </div>
      <div class="content__todos">
        <ul class="list-group content__todos__ul">
          <div class="content__todos__li">
            <app-todo-item></app-todo-item>
            <app-todo-item></app-todo-item>
            <app-todo-item></app-todo-item>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="row justify-content-center">
    <div classe="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="content__todos">
        <ul class="list-group content__todos__ul">
          <div class="content__todos__li">
            <app-todo-item></app-todo-item>
            <app-todo-item></app-todo-item>
            <app-todo-item></app-todo-item>
          </div>
        </ul>
      </div>
    </div>
  </div> -->
</div>

